.menu li a.active{
  background-color: rgba(0,0,0,0.1);
}

nav{
  margin-bottom: 30px;
}

.buttons-block{
  display: flex;
  justify-content: space-between;
  margin: 15px auto;
}

.table, .table td, .table th{
  border: 1px solid rgba(0,0,0,0.12);
}
.table th{
  padding: 10px 5px;
}
.table td{
  padding: 5px;
}